<% layout('layout/boilerplate') %>

    <h1>
        WINNIE PET SHOP
    </h1>
    <div class="d-flex">
        <div class="row">
            <% for ( let pet of pets) {%>
                <div class="col-sm-4 d-flex ">
                    <div class="card shadow-sm p-0 mb-3 bg-body rounded">
                        <img src="<%= pet.image %> " class="card-img-top" id='image' alt="...">
                        <div class="card-body row d-flex">
                            <div class='mb-3'>
                                <h3 class="card-title card-header p-0 mb-3">
                                    <%= pet.title %>

                                </h3>
                                <p class="card-text">
                                    <b>Price:</b>
                                    <%= pet.price %> bath
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Stock: <%= pet.stock %>
                                    </small>
                                </p>
                            </div>

                            <div class="align-self-end ">
                                <a href="/pet/<%= pet._id %>" class="btn btn-primary">View <%= pet.title %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>


    </div>